.navbar-brand {
  color: #082032;
  font-family: sans-serif;
  font-weight: bold;
}

.bg-hub {
  background-color: #FF9900;
}

.text-hub {
  color: #FF9900;
}

.nav-tabs .nav-link {
  color: 	#71797E;
}
.nav-tabs .nav-link.active {
  color: #000;
}

.tile-image {
  height: 300px;
}